<html>
    <body>
        <form action="/gravar" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Insira o nome"><br><br>
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" placeholder="Insira o CPF"><br><br>
            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" placeholder="Insira o endereço"><br><br>
            <input type="submit" value="Enviar">
            <button><a target="_blank" href='/templates/lista.html'>Listar dados</a></button>
        </form>
    </body>
</html>


