<html>
    <body>
        <form action="/gravar" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Insira o nome"><br><br>
            <label for="preco">Preço:</label>
            <input type="text" name="preco" placeholder="Insira o Preço"><br><br>
            <label for="categoria">Catehoria Produto:</label>
            <input type="text" name="categoria" placeholder="Insira a categoria"><br><br>
            <input type="submit" value="Enviar">
            <button><a href='/listar'>Listar dados</a></button>
        </form>
    </body>
</html>


