<html>
    <body>
        <div align="center">
            <table border="1" >
                <h2>Veja os itens no banco de dados</h2>
                <tr><td><b>Nomes</b></td><td><b>Preço</b></td><td><b>Categoria Produto</b></td></tr>
                {% for item in datas %}

                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                </tr>
                {% endfor %}
            </table>
            <button><a href='/aulamvc'>Voltar</a></button>
        </div>
    </body>
</html>